.app {
  background-color: #003366;
  color: white;
  height: 100vh;
  &__container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.upload {
  display: flex;
  padding-top: 2rem;
  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  input {
    margin-top: 1rem;
  }
  &__preview {
    width: 300px;
  }
}
